---
import Layout from '@src/layouts/Layout.astro'
import { medusa } from '@src/medusa/medusa_conect'
import { Image } from 'astro:assets'

const { id } = Astro.params

if (!id) {
  return Astro.redirect('/')
}

const product = await medusa.admin.products
  .retrieve(id)
  .then(({ product }) => product)

//   refacotorizar y reutilizar
const formattedPrice = product.variants?.[0]?.prices?.[0]?.amount
  ? new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD'
  }).format(product.variants[0].prices[0].amount / 100)
  : 'Consulta el precio en WhatsApp ⬇️'

const urlProduct = Astro.request.url;
---

<Layout title="EF SYSTEMAS EIRL TIENDA">
    <section class="flex flex-col gap-10 w-[80%] m-auto">
        <section class="flex gap-2">
            <div class="flex-1">
                {
                    product.images.length > 0 && (
                        <div class="flex gap-2 px-8">
                            {product.images.map((image) => (
                                <Image
                                    src={image.url}
                                    alt={product.title}
                                    class="w-20 h-20 rounded-lg object-center object-cover drop-shadow-sm"
                                    width={80}
                                    height={80}
                                />
                            ))}
                        </div>
                    )
                }
                <Image
                    src={product.thumbnail || 'd'}
                    alt={product.title}
                    class="w-full rounded-t-lg p-8 object-center object-cover drop-shadow-sm"
                    inferSize={true}
                />
            </div>
            <div class="flex-1 p-8 flex flex-col gap-12">
                <section class="flex flex-col gap-4">
                    <h1 class="text-4xl font-bold text-slate-800">
                        {product.title}
                    </h1>
                    <p class="font-bold text-slate-500">
                        {product.description}
                    </p>
                </section>

                <h1 class="text-4xl font-bold text-slate-800">
                    {formattedPrice}
                </h1>

                <a
                    class="middle none center mr-4 rounded-lg bg-green-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none flex items-center justify-center gap-4"
                    data-ripple-light="true"
                    href={`https://api.whatsapp.com/send?phone=51966550570&text=Estoy%20interesado%20en%20este%20producto%3A%20${urlProduct}`}
                    target="_blank"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                            d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"
                        ></path><path
                            d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                        ></path></svg
                    >
                    <span>Contiza en WhatsApp</span>
                </a>
            </div>
        </section>

        <section class="flex flex-col gap-4">
            <h1 class="text-2xl font-bold text-slate-800">
                Descriocion de Producto
            </h1>
            <p class="font-bold text-slate-500">{product.description}</p>
        </section>
    </section>
</Layout>
